<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<input id="email" placeholder="Email">
<input id="password" placeholder="Password" type="password">
<button onclick="login()">Login</button>

<h2>Signup</h2>

<input id="name" placeholder="Name">
<input id="email2" placeholder="Email">
<input id="password2" placeholder="Password">
<select id="role">
    <option value="admin">Admin</option>
    <option value="member">Member</option>
</select>
<button onclick="signup()">Signup</button>

<script src="/static/script.js"></script>

</body>
</html>